@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;800&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    /* background-color: black; */
}

.logo {
    width: 100px;

}

header {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 9999;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
}

header nav {
    background-color: transparent;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.83rem;
}

.search a {
    font-size: 1.05rem;
    padding: 0 3rem;


}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    padding: 0;
    background-color: rgba(132, 132, 132, 0.708);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

main {
    background-color: rgb(4, 173, 156);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.bg-img {
    position: absolute;
    width: 2800px;
    top: calc(50% - 390px);
    left: calc(50% + 10px);
    
    z-index: 1;
}

.fog-7 {
    position: absolute;
    width: 2800px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    
    z-index: 2;
}

.mountain-10 {
    position: absolute;
    width: 600px;
    top: calc(80%);
    left: calc(30%);
    
    z-index: 3;
}

.fog-6 {
    position: absolute;
    width: 1400px;
    top: calc(110%);
    left: calc(50% + 10px);
    
    z-index: 4;
}

/* .mountain-9{
    position: absolute;
    width: 1400px;
    top: calc(100% - 390px);
    left: calc(20% + 10px);
    
    z-index: 5;
} */

.mountain-8{
    position: absolute;
    width: 1200px;
    top: calc(135% - 390px);
    left: calc(60% + 10px);
    
    z-index: 6;
}


.fog-5{
    position: absolute;
    width: 2800px;
    top: calc(170% - 390px);
    left: calc(50% + 10px);
    
    z-index: 7;
}
.mountain-7{
    position: absolute;
    width: 700px;
    top: calc(130% - 390px);
    left: calc(100% + 10px);
    
    z-index: 8;
}

.text{
    z-index: 9;
    position: absolute;
    text-align: center;
    top: 27%;
    left: 50%;
    
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
}
.text h2{
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}
.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.8;
}

/* after text part---------------- */

.mountain-6{
    position: absolute;
    width: 300px;
    top: calc(110% - 390px);
    left: calc(40% + 10px);
    
    z-index: 10;
}
.fog-4{
    position: absolute;
    width: 1000px;
    top: calc(140% - 390px);
    left: calc(60% + 10px);
    
    z-index: 11;
}

.mountain-5{
    position: absolute;
    width: 400px;
    top: calc(90%);
    left: calc(85%);
    
    z-index: 12;
}
.fog-3{
    position: absolute;
    width: 600px;
    top: calc(80% );
    left: calc(90%);
    
    z-index: 13;
}
.mountain-4{
    position: absolute;
    width: 600px;
    top: calc(80% );
    left: calc(22%);
    
    z-index: 14;
}
.mountain-3{
    position: absolute;
    width: 400px;
    top: calc(100%);
    left: calc(90%);
    
    z-index: 15;
}
.fog-2{
    position: absolute;
    width: 1000px;
    top: calc(80%);
    left: calc(70%);
    
    z-index: 16;
}

.mountain-2{
    position: absolute;
    width: 700px;
    top: calc(70%);
    left: calc(68%);
    
    z-index: 17;
} 
.mountain-1{
    position: absolute;
    width: 470px;
    top: calc(50%);
    left: calc(10%);
    
    z-index: 18;
}
.sun-rays{
    position: absolute;
    width: 2800px;
    top: 0;
    left: 0;
    z-index: 19;
    pointer-events: none;
}
.black-shadow{
    position: absolute;
    width: 1800px;
    top: 80%;
    left:0;
    z-index: 20;
    pointer-events: none;
}
 .fog-1{
    position: absolute;
    width: 2800px;
    top: calc(70%);
    left: calc(15%);
    
    z-index: 21;
}
.vignette{
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0,)65%,rgba(0, 0, 0, 0.864));
    pointer-events: none;
}

.parallax{
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32,.99);


}